
        .a{
            color: green;
            text-align: right;
            font-style: italic;
        }

        .f{
            font-style: inherit;
        }
        .c{
            text-align: center;
        }

        .r{
            text-align: right;
        }

        .j{
            text-align: justify;
        }

        table,th,td{
            border: 2px solid;
        }



        table {
            border-collapse: collapse;
            width: 600px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .coret{
            text-decoration-line:line-through ;
        }